<section class="container-fluid">
  <section class="row">
      <section class="col-md-12 jumbotron dark-primary-color">
          <h2>Welcome From Docker Compose!</h2>
          <h3>You can create your own todo list here.</h3>
        </section>
  </section>

<div class="add-todo" ng-show="enabled">
    <form ng-submit="submit()">
        <label for="title">Title</label>
        <input ng-model="title" type="text" id="title">
        <input class="button is-light-grey" type="submit" value="Create">
    </form>
</div>

  <section class="row">
      <section class="col-12">
          <button class="accent-color" ng-click="showForm()" ng-keyup="$event.keyCode === 27 && esc()">Create Todo</button>
      </section>
  </section>

  <section class="row around-md" ng-repeat="todo in todos track by $index" ng-if="$index % 4 == 0">
      <div class="col-md-3 todo-list" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" ng-if="todos[i] != null">
          <a href="todo/{{todos[i]}}">{{ todos[i] }}</a>
      </div>
  </section>
</section>